$lgscreen: 850px;
$smscreen: 400px;
$font-family-header: 'Lato', sans-serif;
$font-size-side-bars: .8em;
$letter-spacing: 2.2px;
$font-weight: bold;

header {
    @include grid-row();

                p {
                    @include grid-column(2.5); 
                    color: red; 
                    font: $font-family-header;
                    font-size: $font-size-side-bars;
                    letter-spacing: $letter-spacing;
                    font-weight: $font-weight;
                    padding-left: 25px;
                    padding-top: 15px;
                }

                #header-nav {
                    @include grid-column(7);
                    h1 {
                    color: black;
                    font: $font-family-header;
                    letter-spacing: $letter-spacing;
                    text-align: center;
                    }

                    nav {
                        @include breakpoint(1000px) {
                            flex-wrap: wrap;
  }
                        ul {
                            display: flex;
                            justify-content: space-around;
        
                            li {
                                list-style-type: none;
                                text-decoration: none;
                                font-size: 1em;
                                letter-spacing: $letter-spacing;
                                font-weight: $font-weight;
                            }
                        }
                    }


                }

                #header-end {
                    @include grid-column(2.5);
                    padding-top: 25px;
                    a { 
                    color: black;
                    font: $font-family-header;
                    font-size: $font-size-side-bars;
                    text-decoration: none;
                    letter-spacing: $letter-spacing;
                    font-weight: $font-weight;
                        }
                        
                    }

                    
                }
        









